{% extends 'shotdogs.html' %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
 {% load static %}
      <!-- Slide 1 -->
      {% csrf_token %}
      {% for shotdogs in object_list %} 
      <div class="carousel-item active">
        <div class="carousel-container">
         
            <div class="loop-001">
              <img src="{{ shotdogs.mid_ph_001 }}">
            </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          
          <div class="loop-001">
              <img src="{{ shotdogs.mid_ph_002 }}">
            </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          
          <div class="loop-001">
              <img src="{{ shotdogs.mid_ph_003 }}">
            </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    
{% endfor %}
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">
        <div class="section-title" style="padding-top: 60px;">
          <h2>攝狗狗寵物寫真工坊 - 品牌故事</h2>
          
        </div>

        <div class="row">
           <!--<div class="col-lg-12 video-box">
            <img src="{% static 'dog/assets/img/about01.jpg' %}" class="img-fluid" alt="">
            youtube
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a
              >
          </div>-->
          <div class="col-lg-1"></div>
          <div class="col-lg-5 d-flex flex-column justify-content-center p-3">
            
            <div class="icon-box">
              
              
              <p class="description">
                力求捕捉寵物含蓄情緒展現，瞬間動作定格畫面<br>
                針對每個寵物不同習性，量身訂做攝影方案，<br>
                隨著藝術鑑賞水準日漸提升<br>
                在攝影範疇當中，寵物攝影較為新興領域 <br>
                寵物攝影對執掌攝影師來說，須具備極大耐心<br>
                以及對寵物行為透徹了解，<br><br>

                攝狗狗寵物寫真工坊創立於2002年4月，開店概念來自於一隻流浪狗妞妞。<br>
                憑著捕捉寶貝每一瞬間精采回憶的這份熱情，<br>
                創立了全台灣第一家為寵物專門攝影的寫真公司。<br><br>

                2004年開始，ShotDogs攝狗狗發展路線拓展至全方位領域專業攝影。<br>
                店面規模也由原地下一樓擴大至八德路店面。<br>
                為了維持ShotDogs攝狗狗追求一致的品質，<br>
                所有的攝影師、人員篩選訓練、場景設計、產品設計、<br>
                整體包裝、製作都是統籌由台北總店規劃與執行，<br>
                其中唯一不變的信仰只有對於”專業”與”服務”的堅持，並永續延續下去。


              </p>
            </div>

          </div>
         
          <div class="col-lg-5 d-flex flex-column p-3">
            <div class="icon-box">
              
              <p class="description">
                在攝狗狗寵物寫真，透過鏡頭紀錄人與寵物之間真摯情感，<br>
                述說與寵物之間最真實故事<br>
                攝狗狗--純淨情感堅守，紀實你與「牠」的動人故事<br><br>

                攝狗狗寵物寫真工坊<br>
                台北首選寵物攝影首選品牌-服務特色：<br>
                1.全台首創寵物攝影紀錄<br>
                2.專為寵物建置獨立多風格實景攝影棚<br>
                3.技術職攝影師客製化拍攝，寵物造型師打造整體造型與服裝穿搭<br>
                4.獨創主題寵物攝影道具拍攝服務<br>
                5.首創客製化自然風格廣告式MV攝影創作<br>
                6.客製化線上修片、美編，融入生活照紀錄，自製多元化相冊規格<br>
                7.單點預約北、中、南，自由選擇拍攝寵物攝影棚<br>
                8.零卡分期‧零利率，消費無壓力，付款方式自由選擇
              </p>
              </div>
          </div>
          <div class="col-lg-1"></div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>服務項目</h2>
          
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-6">
            <img src="{% static 'dog/assets/img/index-02.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 pt-4">
            <h2 style="color:#68A4C4;">寵物婚紗</h2>
            <p class="fst-italic" style="font-size: 1.3rem;">
              重要愛戀時刻，絕美婚紗照<br>
              毛孩家人-是忠誠守護者、甜心陪伴者<br>
              表達對毛孩子寵愛與重視，<br>
              一同入鏡甜蜜婚照，<br>
              參與人生大事，見證主人幸福！<br>
            </p>
            
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-6 order-1 order-md-2">
            <img src="{% static 'dog/assets/img/index-04.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 pt-5 order-2 order-md-1">
            <h2 style="color:#68A4C4;">戶外拍攝</h2>
            <p class="fst-italic">
              文字內容
            </p>
            
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-6">
            <img src="{% static 'dog/assets/img/index-03.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 pt-5">
            <h2 style="color:#68A4C4;">特殊服裝</h2>
            <p>文字內容</p>
            <ul>
              
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'dog/assets/img/index-01.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h2 style="color:#68A4C4;">室內影棚</h2>
            <p class="fst-italic">
              文字內容
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
    
  </main><!-- End #main -->

  
{% endblock  %}