<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="獨家的拍攝手法，多種時尚拍攝風格，以及堅強設計團隊，造就了現今的橘攝，另外有自家攝影棚提供拍攝還有與當紅藝人廣告宣傳之合作">
    <meta name="keywords" content="婚紗攝影 日系婚紗 歐式婚紗 韓式婚紗 攝影 海外攝影 外景攝影 棚內攝影 台北 台中 高雄 兒童 抓周 新生兒">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>MIKAN兒童</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon.png' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'kids/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'kids/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'kids/assets/css/templatemo-onix-digital.css' %}">
    <link rel="stylesheet" href="{% static 'kids/assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'kids/assets/css/owl.css' %}">
  </head>
<body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'kids/assets/images/logo.png' %}">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">首頁</a></li>
              <li class="scroll-to-section"><a href="#services">服務內容</a></li>
              <li class="scroll-to-section"><a href="#pricing">價格方案</a></li>
              <li class="scroll-to-section"><a href="#portfolio">作品集</a></li>
              <li class="scroll-to-section"><a href="#contact">聯絡我們</a></li> 
              <li class="scroll-to-section"><div class="main-red-button-hover"><a href="#contact">即刻預約</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

      {% block content %}
      {% endblock  %}


  <!-- Scripts -->
  <script src="{% static 'kids/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'kids/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'kids/assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'kids/assets/js/animation.js' %}"></script>
  <script src="{% static 'kids/assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'kids/assets/js/custom.js' %}"></script>

  <script>
  // Acc
    $(document).on("click", ".naccs .menu div", function() {
      var numberIndex = $(this).index();

      if (!$(this).is("active")) {
          $(".naccs .menu div").removeClass("active");
          $(".naccs ul li").removeClass("active");

          $(this).addClass("active");
          $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

          var listItemHeight = $(".naccs ul")
            .find("li:eq(" + numberIndex + ")")
            .innerHeight();
          $(".naccs ul").height(listItemHeight + "px");
        }
    });
  </script>
</body>
</html>