<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="橘攝婚紗攝影在創立時，就以區隔化市場策略進入寫真市場經營，不同於其他同業大同小異之商品風格，獨家以廣告風格MV拍攝手法，迎領流行時尚趨勢的風格。">
    <meta name="keywords" content="婚紗攝影 日系婚紗 歐式婚紗 韓式婚紗 攝影 海外攝影 外景攝影 棚內攝影 台北 台中 高雄">
    <meta name="author" content="">
    <meta property="og:image" content="{% static 'assets/img/500.png' %}" /> 
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon.png' %}">
    <title>Verona</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/ico" />

      <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 ><a style="color: #000;" href="/verona">Verona</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar" style="font-family: 'Poppins', sans-serif !important;">
        <ul>
          <li><a href="/verona">首頁</a></li>
          <li><a href="/verona/studio">攝影棚</a></li>
          <li class="dropdown"><a href="#"><span>婚紗/禮服訂製</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">古裝婚紗</a></li>
              <li><a href="#">景點婚紗</a></li>
              <li><a href="#">摩登婚紗</a></li>
              <li><a href="#">韓系婚紗</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>大尺碼婚紗攝影</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/verona/style-1">自然景致</a></li>
              <li><a href="/verona/style-2">幸福街角</a></li>
              <li><a href="/verona/style-3">風格內景</a></li>
              <li><a href="/verona/style-4">唯美光芒</a></li>
              <li><a href="/verona/style-5">甜膩俏皮</a></li>
              <li><a href="/verona/style-6">意境劇情</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>大尺碼藝術攝影</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/verona/single">大尺碼個人寫真</a></li>
              <li><a href="/verona/cpl">大尺碼情侶寫真</a></li>
              <li><a href="/verona/frds">大尺碼閨蜜寫真</a></li>
            </ul>
          </li>
          <!--<li class="dropdown"><a href="#"><span>禮服專區</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">白紗</a></li>
              <li><a href="wed-dress.html">晚禮服</a></li>
            </ul>
          </li>-->
          <li><a href="#">婚紗/禮服租借</a></li>
          <!--<li><a href="#">婚禮專欄</a></li>-->
          <!--<li><a href="features.html">婚禮表單</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
     
    
        {% block content %}
        {% endblock  %}

   <!-- ======= Testimonials Section ======= -->
    
    <section class="section">

      <div class="container">

        <div class="row">
          
          <div class="col-lg-4 d-inline-flex">
            <div class="col-6 box-005">
            <p><a href="https://mikan.com.tw/"><img src="{% static 'assets/img/001.png' %}"></a>
             </div> 
             <div class="col-6 box-005">
            <p><a href="https://www.facebook.com/mikanbaby/?ref=pages_you_manage&locale=zh_TW"><img src="{% static 'assets/img/002.png' %}"></a>
             </div> 
          </div>

          <div class="col-lg-4 d-inline-flex">
            <div class="col-6 box-005">
            <p><a href="https://www.facebook.com/mikankids?locale=zh_TW"><img src="{% static 'assets/img/003.png' %}"></a>
             </div> 
             <div class="col-6 box-005">
            <p><a href="https://www.facebook.com/VeronaBrideHuang?locale=zh_TW"><img src="{% static 'assets/img/004.png' %}"></a>
             </div> 
          </div>

          <div class="col-lg-4 d-inline-flex">
            <div class="col-6 box-005">
            <p><a href="https://www.facebook.com/MikanWedding"><img src="{% static 'assets/img/005.png' %}"></a>
             </div> 
             <div class="col-6 box-005">
            <p><a href="https://www.facebook.com/shotdogs?locale=zh_TW"><img src="{% static 'assets/img/006.png' %}"></a>
             </div> 
          </div>
          
        </div>
      </div>

    </section>


    <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <h3>關於我們</h3>
          <p>Verona Huang手工婚紗-<br>
              精緻靈魂賦予曲線美新娘，邁向動人新生<br><br>

              身穿命定嫁紗走入婚禮殿堂，是為每位女孩美麗盼望<br>
              突破婚紗既定線條，型塑別緻加大型婚紗禮服<br>
              對於尺寸獨特專注，持續優化婚紗曲線體驗，增強適穿穩定性。
          </p>
          <p class="social">
            <a href="https://www.facebook.com/VeronaBrideHuang"><span class="bi bi-facebook"></span></a>
            <a href="#"><span class="bi bi-instagram"></span></a>
            
          </p>
        </div>
        <div class="col-md-7">
          <div class="row site-section pt-0">
            
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>聯絡方式：</h3>
              <ul class="list-unstyled">
                <li><a href="tel:02-2578-8809">電話 : (02)2578-8809</a></li>
                <li><a href="https://lin.ee/APFT7Ne">Line官網</a></li>
                <li><a href="https://lin.ee/SCmEXFf">Line網路客</a></li>
              </ul>
            </div>
            <div class="col-md-8 mb-8 mb-md-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6685774911343!2d121.55533635119822!3d25.045319043911483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc0e7b16331%3A0x68245fe58f4d7352!2zMTA15Y-w5YyX5biC5p2-5bGx5Y2A5YWJ5b6p5Y2X6LevNjjomZ8x!5e0!3m2!1szh-TW!2stw!4v1636365516659!5m2!1szh-TW!2stw" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; Copyright. All Rights Reserved</p>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=SoftLand
          -->
            Designed by MIKAN
          </div>
        </div>
      </div>

    </div>
  </footer>        
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

     <!-- Vendor JS Files -->
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
      <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
      <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

      <!-- Template Main JS File -->
      <script src="{% static 'assets/js/vendor/jquery-1.10.2.min.js' %}"></script>
      <script src="{% static 'assets/js/main.js' %}"></script>
      <script src="{% static 'assets/js/min/plugins.min.js' %}"></script>
      <script src="{% static 'assets/js/min/main.min.js' %}"></script>
      <script src="{% static 'assets/js/vendor/modernizr-2.6.2.min.js' %}"></script>
      <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('#loader').fadeOut(); // will first fade out the loading animation
                    $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
      </script>
      <script type="text/javascript">
      if($(window).width()){
        $(".v-1").addClass("active");
      }

      </script>
      <style type="text/css">
        #header.header-scrolled {
          background:rgba(233, 56, 30, 0.7);
        }
        .navbar-mobile {
          background: rgba(233, 56, 30, 0.7);
        }
        .hero-section {
        background: url("/static/assets/img/vh_004.jpg");
        background-position: center;
        }
        .hero-section h1 {
          color: #000;
        }
        .hero-section p {
          color: #000;
        }
        .navbar a {
          color: #000;
        }
        .mobile-nav-toggle {
          color: #000;
        }
      </style>
      <!-- Messenger 洽談外掛程式 Code -->
    <div id="fb-root"></div>

    <!-- Your 洽談外掛程式 code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "214623155216028");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>