{% extends 'base.html' %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
   
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- *************************************************************** -->
                <!-- Start First Cards -->
                <!-- *************************************************************** -->
                
                <!-- *************************************************************** -->
                <!-- End First Cards -->
                <!-- *************************************************************** -->
                <!-- *************************************************************** -->
                <!-- Start Sales Charts Section -->
                <!-- *************************************************************** -->
                
                <!-- *************************************************************** -->
                <!-- End Sales Charts Section -->
                <!-- *************************************************************** -->
                <!-- *************************************************************** -->
                <!-- Start Location and Earnings Charts Section -->
                <!-- *************************************************************** -->
                
                <!-- *************************************************************** -->
                <!-- End Location and Earnings Charts Section -->
                <!-- *************************************************************** -->
                <!-- *************************************************************** -->
                <!-- Start Top Leader Table -->
                <!-- *************************************************************** -->
                

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"></h4>
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        <div class="input-group-prepend">
                                             <label class="input-group-text" for="inputGroupSelect01">
                                                品項
                                             </label>
                                                <form action="" method="get">
                                                    {{ filter.form.items }}
                                                <button type="submit" class="btn btn-block btn-xs btn-success" value="search">search</button>
                                                </form>

                                        </div>
                                        
                                    </div>
                        
                                </div>
                                
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr class="border-0">
                                                <th class="border-0 font-14">
                                                    國家
                                                </th>
                                                <th class="border-0 font-14">
                                                    品項
                                                </th>
                                                 <th class="border-0 font-14">
                                                    品名
                                                </th>

                                                <th class="border-0 font-14">
                                                    註明
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for todo in filter.qs %}  
                                            <tr>
                                                
                                                <td class="font-weight-medium text-dark text-centerborder-top-0 py-4">
                                                 
                                                    {{ todo.fromname }}
                                                 
                                                </td>
                                                <td class="font-weight-medium text-dark text-centerborder-top-0 py-4">
                                                     {{ todo.items }}
                                                </td>
                                                 <td class="font-weight-medium text-dark text-centerborder-top-0 py-4">
                                                     {{ todo.arrivalname }}
                                                </td>
                                                
                                                <td class="font-weight-medium text-dark text-centerborder-top-0 py-4">
                                                     {{ todo.description }}
                                                </td>
                                                <td class="font-weight-medium text-dark text-centerborder-top-0  py-4">
                                                <a href="{% url 'todo:detail' todo.id %}" class="btn btn-info">詳細</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *************************************************************** -->
                <!-- End Top Leader Table -->
                <!-- *************************************************************** -->
                
                    
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
       
{% endblock  %}
