{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">國家：{{ object.fromname }}</li>
                <li class="list-group-item">品項：{{ object.items }}</li>
                <li class="list-group-item">品名：{{ object.arrivalname }}</li>
                <li class="list-group-item">註明：{{ object.description }}</li>
                <li class="list-group-item">日期：{{ object.pub_date }}</li>
            </ul>
                </div>
            </div>
        </div>    
    </div>
</div>    




{% endblock  %}
