{% extends 'base.html' %} {% block content %}

<main id="main">

    <!-- ======= Features Section ======= -->

    <section class="hero-section inner-page">
        <div class="wave">

            <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center hero-text">
                            <h1 data-aos="fade-up" data-aos-delay="">服務流程</h1>
                            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% load static %}
    <section class="section pb-0">
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">1</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">填寫預約 <span class="text_pink">諮詢表單</span> 或 <span class="text_pink">來電預約</span> 客製化攝影方案</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">2</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">確認拍攝檔期 <span style="color:rgb(233 30 99 / 70%);">攝影師</span> & <span style="color:rgb(233 30 99 / 70%);">新娘秘書</span> 排程</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">3</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">支付預付<span style="color:rgb(233 30 99 / 70%);"> 訂金</span> & <span style="color:rgb(233 30 99 / 70%);">簽署 </span>攝影合約</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">4</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">攝影細節溝通 <span style="color:rgb(233 30 99 / 70%);"> 拍攝風格 </span> & <span style="color:rgb(233 30 99 / 70%);"> 拍攝路線
                                </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">5</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003"><span style="color:rgb(233 30 99 / 70%);"> 禮服秘書 </span>協助挑選合適婚紗禮服</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">6</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">攝影當日約定時間<span style="color:rgb(233 30 99 / 70%);"> 店內梳化造型 </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">7</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">預約 <span style="color:rgb(233 30 99 / 70%);">挑選照片</span> & <span style="color:rgb(233 30 99 / 70%);"> 溝通修片</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">8</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">攝影作品後製<span class="text_pink"> 精修 </span> & <span style="color:rgb(233 30 99 / 70%);"> 編排 </span> 相本</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row align-items-center col-lg-12">
                <hr>
                <div class="card mb-12" style="margin-top: 5%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div style=" text-align: center;">
                                <span class="text_ser_tit">9</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text_ser_tit_002">
                                <h5 class="card-title text_ser_tit_003">成品交件 <span style="color:rgb(233 30 99 / 70%);"> 到店取貨 </span> 或 <span style="color:rgb(233 30 99 / 70%);"> 郵寄配送 </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ======= Testimonials Section ======= -->


</main>
<style type="text/css">
    .text_ser_tit {
        font-size: 12vw;
        color: rgb(233 30 99 / 70%);
        border-color: rgb(233 30 99 / 70%);
        border-style: solid;
        border-width: 0px 0px 6px 0px;
    }
    
    .text_ser_tit_002 {
        display: flex;
        /* 水平置中 */
        justify-content: center;
        /* 垂直置中 */
        align-items: center;
        height: 100%;
    }
    
    .text_ser_tit_003 {
        font-size: 1.8vw;
    }
    
    .text_pink {
        color: rgb(233 30 99 / 70%);
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(400%);
        transition: transform 0.8s ease;
    }
    /*偶數號盒子*/
    
    .box:nth-of-type(even) {
        transform: translateX(-400%);
    }
    /*加入`class="show"`，到時候要利用這個class去控制box的顯示*/
    
    .box.show {
        transform: translateX(0);
    }
    
    @media screen and (max-width: 550px) {
        .text_ser_tit_003 {
            font-size: 3.5vw;
        }
    }
</style>
<script>
    let boxes = document.querySelectorAll('.box')

    window.addEventListener('scroll', checkBoxes)
    checkBoxes();

    function checkBoxes() {
        let triggerBottom = window.innerHeight * 0.8

        boxes.forEach(box => {
            const boxTop = box.getBoundingClientRect().top

            if (boxTop < triggerBottom) {
                box.classList.add('show')
            } else {
                box.classList.remove('show')
            }
        })
    }
</script>
<!-- End #main -->
{% endblock %}